asgiref==3.11.1
Django==6.0.6
dj-database-url>=2.2,<3
django-countries==7.5.1
django-crispy-forms==2.1
django-ratelimit==4.1.0
gunicorn==26.0.0
packaging==26.2
psycopg[binary]>=3.2,<4
python-dotenv==1.0.1
setuptools==75.5.0
sqlparse==0.5.5
whitenoise==6.11.0
crispy-bootstrap5==2023.10
